html,
body {
  height: auto;
  margin: 0;
  padding: 0;
  background: url(../css/images/BackgroundImage.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-color: rgba(238, 238, 238, 0.81);
  background-position: center;
  font-family: "Work Sans", sans-serif;
}

h1,
h2,
h3,
h4,
p {
  color: rgba(255, 255, 255, 0.8);
  padding: auto;
}

#secondColor,
#projectsHeader,
#technologies,
#storyHeader,
h4:hover {
  color: gold;
}

/*Text Center*/
#technologyLogos,
#technologies,
#story,
#myStory,
#storyHeader,
#education,
#contact,
#projectsHeader {
  margin: 0 auto;
  width: 70%;
  text-align: center;
}

#header {
  text-align: center;
  font-size: 20px;
  margin: 8.67em 0 5.9em 0;
}

/* Technologies */

#technologies {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.logo {
  max-height: 100px;
  max-width: 100px;
  margin-top: 1vw;
  margin-right: 1vw;
  border-radius: 25px;
}

/* Project Grid container */

.bd-example {
  text-align: center;
}

.carousel-item {
  align-items: center;
}

#carouselImg {
  margin: 0 auto;
  text-align: center;
}

#carouselImg2 {
  margin: 0 auto;
  width: 50%;
  text-align: center;
}

#prevnextIcon {
  height: 5250px;
  left: 25;
}

.carousel-control-next-icon {
  margin-right: 168px;
}

.carousel-control-prev-icon {
  margin-left: 168px;
}

/* PORTRAIT */
.image-cropper {
  width: 200px;
  height: 200px;
  text-align: center;
  overflow: hidden;
  border-radius: 50%;
  left: 50%;
  margin-left: 39%;
  margin-bottom: 50px;
}

.image-cropper img {
  max-width: 100%;
  height: auto;
}

/* NAV */

nav {
  margin-top: 15px;
  position: relative;
  top: 25%;
  left: 0;
  width: 15%;
  z-index: 99;
  opacity: 0.7;
}

#navLinkColor {
  color: rgba(255, 255, 255, 0.8);
  background-color: none;
}

#navLinkColor:hover {
  color: gold;
}

#btnNav {
  border-color: gold;
}

/* My Story */
#story {
  margin-top: 13.75re5px;
}

#myStory {
  font-size: 20px;
  text-align: left;
}

/*CONTACT */
#contactMiniBox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#email,
#github {
  margin: 0 10px;
  padding: 0 10px;
}

.card-title {
  margin: 0.75rem;
}

@media only screen and (max-width: 750px) {
  #myStory {
    text-align: center;
  }
}